pymupdf
pandas
langchain==1.2.7
langchain-community==0.4.1
langchain-openai==1.1.7
langchain-google-genai==4.2.1
langchain-huggingface==1.2.0
langchain-anthropic==1.4.0
chromadb==0.5.1
ragas
datasets
sentence-transformers
llama-index
llama-parse
python-dotenv
ipykernel
fastapi
uvicorn
requests
numpy<2
faiss-cpu==1.13.2